.title,
.logo {
    float: left;
}

.logo {
    background-image: url("fission.png");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 42px;
    margin: 2px 10px 2px 10px;
}

.title {
    color: white;
    font-size: 24px;
    line-height: 47px;
}
